/* font style */

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* banner style */

.banner-pic, .banner-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.text-center{
    text-align: center;
}
.header{
    background-image: url('../assets/Hero-bg.png');
    background-repeat:no-repeat;
    background-position: top left,bottom right;
    width: 1400px;
    height: 652px;
    margin-top: 157px;
    }


    /* development section */

    .development{
        width: 1140px;
        height: 1393px;
        background-color: #ADC8F7;
        margin-top: 74px;
        margin-left: 148px;
        margin-right: 152px;

    }
    .purpose-development{
        padding-top: 80px;
        padding-left: 47px;
        padding-right: 47px;
        padding-bottom: 48px;
    }

.change-world{
   padding-left: 97px;
   padding-right: 97px;
}
    .change-world-first{
        display: flex;
        
    }
     .change-world-second{ 
        display: flex;
        
    }
    .change-world-third{ 
        display: flex;
        
    }

    /* my inspiration section */
    .video-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skills{
        display: flex;
        justify-content: space-around;
    }
